.nav a {
	color: #ddd !important;
	transition: 0.2s linear !important;
}

.nav a:hover {
	color: #03C4EB !important;
}

.nav .active a {
	color: #03C4EB !important;
}

.nav .active a:hover {
	color: #ddd !important;
}

.nav-logo-text {
	color: #337ab7;
	display: inline-block;
	font-size: 14px;
	margin-top: 16px;
}