/*Combine both the css files in the end. 
Otherwise almost every commit will cause a merge conflict.*/

.events-body {
	background-color: #ffffff;
	padding-top: 65px;
}

.event-card {
	position: relative;
	margin: 2vh 1% 1vh 1% !important;
	height: 300px;
	width: 98%;
	border: 2px white solid;
	border-radius: 7px;
	background-color: #f7cdb5;
}

.event-card-img {
	max-width: 100%;
	vertical-align: middle;
	height: auto;
	/*object-fit: contain;*/
}

h1 {
	display: inline-block;
	padding: 3px 9px 3px 9px;
	width: auto;
	color: rgb(41, 201, 26);
	border-radius: 6px;
	transition: 0.1s linear;
}

h1:hover {
	background-color: #ffffff;
	color: black;
}

h1 ~ p {
	padding-left: 9px;
}

.event-card a {
	color: #7b8895;
	text-decoration: none;
}

.modal-dialog {
	width: 90vw;
	height: 90vh;
	text-align: left;
}

.modal-content {
	background-color: grey;
	/*border-color: #ddd;*/
	border-radius: 8px;
}

.modal-img {
	max-width: 90%;
}

#event-button {
	background-color: #090909;
	color: #white;
	border-color: #ddd;
	border-radius: 5px;
	-moz-appearance: none !important;
}

@media screen and (max-width: 780px) {
	.event-card{
		height: 600px;
		margin: 2vh 2% 1vh 2%;
		width: 96%
	}

	.event-card-img {
		height: 50%;
	}

	/*.nav-menu li{*/
		/*display: block;*/
	/*}*/
}